{% extends "layout.html" %}

{% block title %}
    Dashboard - {{ block.super }}
{% endblock %}

{% block content %}
	<div class="module">
	<h3>Locations</h3>
	<div class="help">
	Locations are used to associate a user's reports or poll responses with a particular administrative boundary, for aggregate
	reporting purposes.
	</div>
	<p>
		{% ifequal locations.count 0 %}
		    <img src="/static/rapidsms/icons/silk/exclamation.png"/> You haven't uploaded any <a href="{% url upload-locations %}">locations</a> yet.
		{% else %}
		    <img src="/static/rapidsms/icons/silk/accept.png"/> You've uploaded {{ locations.count }} location{{ locations.count|pluralize }}. <a href="{% url upload-locations %}">Upload more.</a> 
		{% endifequal %}
	</p>
	</div>

{% if locations.count > 0 %}
	<div class="module">
	<h3>Users</h3>
	<div class="help">
	Users are people that will be able to interact with the system via SMS: they can receive poll questions,
	and submit SMS indicator reports.
	</div>
	<p>
		{% ifequal contacts.count 0 %}
		    <img src="/static/rapidsms/icons/silk/exclamation.png"/> You haven't uploaded any <a href="{% url upload-contacts %}">users</a> yet.
		{% else %}
		    <img src="/static/rapidsms/icons/silk/accept.png"/> You've uploaded {{ contacts.count }} user{{ contacts.count|pluralize }}. <a href="{% url upload-contacts %}">Upload more.</a>
		{% endifequal %}
	</p>
	</div>

    {% if contacts.count > 0 %}
        <div class="module">
        <h3>Reports</h3>
        <div class="help">
        Reports are SMS messages that will contain one or more indicators.  They are the way in which you bundle several related
        indicators into a single, efficient SMS message.
        </div>
        <p>
            {% ifequal reports.count 0 %}
                <img src="/static/rapidsms/icons/silk/exclamation.png"/> You haven't created any <a href="{% url upload-reports %}">reports</a> yet.
            {% else %}
                <img src="/static/rapidsms/icons/silk/accept.png"/> You've created {{ reports.count }} report{{ reports.count|pluralize }}. <a href="{% url upload-reports %}">Upload more.</a>
            {% endifequal %}
        </p>
        </div>
    {% endif %}
	
	{% if reports.count > 0 %}
		<div class="module">
		<h3>Indicators</h3>
		<div class="help">
		Indicators are the individual elements of data that will be gathered from the field, via SMS, x-forms or USSD (for example,
		number of cases of Malaria diagnosed at a health facility in the past week).
		</div>
		<p>
		    {% ifequal indicators.count 0 %}
		        <img src="/static/rapidsms/icons/silk/exclamation.png"/> You haven't created any <a href="{% url upload-indicators %}">indicators</a> yet.
		    {% else %}
		        <img src="/static/rapidsms/icons/silk/accept.png"/> You've created {{ indicators.count }} indicator{{ indicators.count|pluralize }}. <a href="{% url upload-indicators %}">Upload more.</a>
		    {% endifequal %}
		</p>
		</div>
	{% endif %}
{% endif %}
{% endblock %}