[submodule "kit_project/rapidsms"]
	path = kit_project/rapidsms
	url = git://github.com/unicefuganda/rapidsms
[submodule "kit_project/django_eav"]
	path = kit_project/django_eav
	url = git://github.com/unicefuganda/django-eav
[submodule "kit_project/rapidsms_generic"]
	path = kit_project/rapidsms_generic
	url = git://github.com/unicefuganda/rapidsms-generic
[submodule "kit_project/rapidsms_httprouter_src"]
	path = kit_project/rapidsms_httprouter_src
	url = git://github.com/unicefuganda/rapidsms-httprouter
[submodule "kit_project/rapidsms_polls"]
	path = kit_project/rapidsms_polls
	url = git://github.com/daveycrockett/rapidsms-polls
[submodule "kit_project/rapidsms_xforms_src"]
	path = kit_project/rapidsms_xforms_src
	url = git://github.com/daveycrockett/rapidsms-xforms
[submodule "kit_project/rapidsms_auth"]
	path = kit_project/rapidsms_auth
	url = git://github.com/unicefuganda/rapidsms-auth
[submodule "kit_project/rapidsms_contact"]
	path = kit_project/rapidsms_contact
	url = git://github.com/unicefuganda/rapidsms-contact
[submodule "kit_project/rapidsms_uganda_common"]
	path = kit_project/rapidsms_uganda_common
	url = git://github.com/unicefuganda/rapidsms-uganda-common
[submodule "kit_project/rapidsms_script"]
	path = kit_project/rapidsms_script
	url = git://github.com/unicefuganda/rapidsms-script
