[submodule "kit_project/rapidsms"]
	path = kit_project/rapidsms
	url = git://github.com/unicefuganda/rapidsms
[submodule "kit_project/django_eav"]
        path = kit_project/django_eav
        url = git://github.com/unicefuganda/django-eav.git
[submodule "kit_project/rapidsms_generic"]
        path = kit_project/rapidsms_generic
        url = git://github.com/unicefuganda/rapidsms-generic.git
[submodule "kit_project/rapidsms_httprouter_src"]
        path = kit_project/rapidsms_httprouter_src
        url = git://github.com/unicefuganda/rapidsms-httprouter.git
[submodule "kit_project/rapidsms_polls"]
        path = kit_project/rapidsms_polls
        url = git://github.com/unicefuganda/rapidsms-polls.git
[submodule "kit_project/rapidsms_xforms_src"]
        path = kit_project/rapidsms_xforms_src
        url = git://github.com/unicefuganda/rapidsms-xforms.git

