/* vim:set et ts=4 sw=4 */

/* the header is based roughly upon unicef.org, with rapidsms colors */
#header {
    background: url("../../../images/themes/blue/header-bg.png") repeat-x;
    padding-top: 23px;
    padding-bottom: 33px;
    position: relative;
    color: #ccf;
}


/* 5px spacing between each tab, to match the top gap, since
 * we're using pixel-positioned backgrounds there */
#tabs li { margin-right: 5px; }
#page-tabs li { margin-left: 5px; }

#tabs li a,
#page-tabs li a {
    color: #fff;
    display: block;
    padding: 0 1em;
    background: #2fa5d1 url("../../../images/themes/blue/tab-bg.png") repeat-x;
    border-right: 1px solid #5691de;
    border-left: 1px solid #5691de;

    /* disable the focus outline on tabs, to avoid a rather
     * ugly dotted box around tabs while they have focus (we
     * remain accessible by providing an :focus, later) */
    outline: none;
}

/* always highlight the active (in the navigation sense, not
 * the css :active sense) tab, even when it's being hovered
 * or focused, since clicking it again is mostly useless */
#tabs li.active a,       #page-tabs li.active a,
#tabs li.active a:hover, #page-tabs li.active a:hover,
#tabs li.active a:focus, #page-tabs li.active a:focus {

    background: #fff url("../../../images/themes/blue/tab-bg-active.png") repeat-x;
    text-decoration: none;
    text-shadow: none;
    color: #000;

    /* the same color as the strip in header-bg.png */
    border: 1px solid #cef1f5;
    border-bottom: 0;

    /* nudge the active tab north by one pixel, to line it
     * up with the tops of the other tabs */
    margin-top: -1px;
}

/* brighten up inactive tabs when hovering or tab-focusing
 * with the keyboard (we removed the outline, above) */
#tabs li a:hover, #page-tabs li a:hover,
#tabs li a:focus, #page-tabs li a:focus {
    background-image: url("../../../images/themes/blue/tab-bg-hover.png");
    text-shadow: #cef1f5 0 0 2px;
    text-decoration: none;
}

.row_reg td {
    background-color: #f8f8f8;
}

.row_alt td {
    background-color: #97b6de;
}


